@model List<ProjectHT15.Models.MultiResultModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsersReviews</title>
</head>
<body>

    <div>

    </div>


    <div id="MultiBox">
        <table>
            <tr>
                <th class="col-lg-2">
                    User
                </th>
                <th id="sortTitels" class="col-lg-2">
                    @Html.ActionLink("Date", "Index", new {id = "Titel"})
                </th>
                <th class="col-lg-2">
                    Titel
                </th>
                <th class="col-lg-2">
                    Rating
                </th>
                <th class="col-lg-2">
                    Likes
                </th>
                <th class="col-lg-2">
                    Type
                </th>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.CreatedDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "ReadReview", "Review", new {id = item.Id}, null)
                    </td>
                    <td>
                        @item.UserRating
                    </td>
                    <td>
                        @item.Likes
                    </td>
                    <td>
                        @item.Type
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
